body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

.container{
    background-color: #CAD5E2;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-div{
    width: 40vw;
    background-color: #2827CC;
    padding: 2rem;
    text-align: center;
    color: #ffffff ;
}
.container-div h1{
    font-size: 40px;
}
.count{
    font-size: 4rem;
}

.buttons button{
    padding: 1rem;
    margin: 0 1rem;
    margin-top: 1rem;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 700;
     
}
.fas{
    margin-right: 1px;
}




.reset{
    background-color: #ffffff;
    color: #030303;
    border: none;
    }
    
